<template>
  <v-card>
    <v-card-subtitle>
      <template v-if="busState==='MOVING'">
        <v-icon color="success">fas fa-circle-notch fa-spin</v-icon>
        En movimiento
      </template>
      <template v-else-if="busState==='STOP'">
        <v-icon color="error">fas fa-circle-notch</v-icon>
        Detenido
      </template>
    </v-card-subtitle>
  </v-card>
</template>
<script>
export default {
  name: 'BusInformationPosition',
  props: {
    busPosition: {},
    busState: {}
  }
}
</script>
