<template>
  <v-list>
    <v-row>
      <v-col v-for="bus in busses">
        <bus-list-item  :bus="bus">
          <slot :item="bus"></slot>
        </bus-list-item>
      </v-col>
    </v-row>
  </v-list>
</template>

<script>
import BusListItem from "@/components/BusListItem";

export default {
name: "BussesList",
  components: {BusListItem},
  props:{
    busses:{
      type: Array,
      default: []
    }
  },
  data: ()=>({

  })
}
</script>

