<template>
  <v-card
  >
    <v-card-text>
      <v-row>
        <v-col
            class="pa-0"
            cols="6"
        >
          <v-avatar
              class="profile"
              color="grey"
              size="120"
              tile
          >
            <v-img src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"></v-img>
          </v-avatar>
        </v-col>
        <v-col
            cols="6"
            class="py-0">
          <v-list-item
              color="rgba(0, 0, 0, .4)"
          >
            <v-list-item-content>
              <v-list-item-title class="title">
                {{ driver.firstName }} {{ driver.lastName }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-col>
      </v-row>
    </v-card-text>

  </v-card>
</template>
<script>
export default {
  name: 'DriverInformationCard',
  props: {
    driver: {}
  }
}
</script>
