<template>
  <l-map
      id="map"
      ref="map"
      :zoom.sync="zoom"
      :bounds.sync="bounds"
      :center.sync="center">
    <l-tile-layer :url="url"></l-tile-layer>
    <l-control position="topright">
      <v-card rounded tile>
        <v-card-text>
          <SelectBusRoute v-model="route"/>
          <SelectBusRouteSchedule :route="route" v-model="schedule"></SelectBusRouteSchedule>
        </v-card-text>
      </v-card>
    </l-control>
    <l-control position="bottomleft">
      <GPSUbicationMap v-model="myLocation"></GPSUbicationMap>
    </l-control>
    <template v-if="busPosition">
      <l-control position="bottomleft">
        <v-card>
          <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
              <v-btn           v-bind="attrs"
                               v-on="on" color="gray" icon @click="showDriverInformation=!showDriverInformation">
                <v-icon>fas fa-user-tie</v-icon>
              </v-btn>
            </template>
            <span>Información del conductor</span>
          </v-tooltip>
          <v-dialog v-model="showDriverInformation" max-width="600">
            <v-toolbar
                dark
                color="primary"
            >
              <v-spacer></v-spacer>
              <v-btn
                  icon
                  dark
                  @click="showDriverInformation = false"
              >
                <v-icon>fas fa-times</v-icon>
              </v-btn>
            </v-toolbar>
            <driver-information-card :driver="schedule.assignedDriver"></driver-information-card>
          </v-dialog>
        </v-card>
      </l-control>
      <l-control position="bottomleft">
        <v-card>
          <v-tooltip right >
            <template v-slot:activator="{ on, attrs }">
              <v-btn           v-bind="attrs"
                               v-on="on"
                               color="gray" icon @click="goToBus()">
                <v-icon>fas fa-bus</v-icon>
              </v-btn>
            </template>
            <span>Ir al bus</span>
          </v-tooltip>
        </v-card>
      </l-control>
      <l-control position="bottomright">
        <BusInformationPosition :bus-position="busPosition" :bus-state="busState"/>
      </l-control>
      <l-marker :lat-lng="busPosition">
        <l-icon>
          <v-icon color="primary">
            fas fa-bus
          </v-icon>
        </l-icon>
      </l-marker>
    </template>
    <l-marker :lat-lng="myLocation">
      <l-icon>
        <v-icon color="secondary">
          fas fa-map-marker-alt
        </v-icon>
      </l-icon>
    </l-marker>
    <l-geo-json :geojson="whereabouts">
    </l-geo-json>
    <l-geo-json :geojson="path">
    </l-geo-json>

  </l-map>
</template>

<script>
import {LControl, LGeoJson, LIcon, LMap, LMarker, LTileLayer} from 'vue2-leaflet';
import GPSUbicationMap from "./GPSUbicationMap";
import {latLngBounds} from "leaflet";
import database from "@/config/firebase-database"

import BusInformationPosition from "./BusInformationPosition";
import SelectBusRoute from "@/components/SelectBusRoute";
import db from "@/config/firestore";
import SelectBusRouteSchedule from "@/components/SelectBusRouteSchedule";
import DriverInformationCard from "@/components/DriverInformationCard";

delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

export default {
  name: 'PublicBusTracking',
  components: {
    DriverInformationCard,
    SelectBusRouteSchedule,
    SelectBusRoute,
    BusInformationPosition,
    LGeoJson,
    GPSUbicationMap,
    LMap,
    LTileLayer,
    LControl,
    LMarker,
    LIcon
  },
  data() {
    return {
      currentBus: {
        id: '001'
      },
      schedule:null,
      whereabouts:{
        type: "FeatureCollection",
        features: []

      },
      showDriverInformation:false,
      path: {
        type: "FeatureCollection",
        features: [
          {
            "type": "Feature",
            "properties": {},
            geometry: {
              "type": "LineString",
              "coordinates": []
            }
          }]
      },
      publicPath: process.env.BASE_URL,
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 8,
      center: [
        -77.04947412014008,
        -12.017693919756253
      ],
      myLocation: [0, 0],
      bounds: latLngBounds([
        [-12.020537696316778, -77.05444451223504],
        [-12.014241471668834, -77.04502459417473]
      ]),
      interval: null,
      position: 0,
      limit: 0.001,
      busPosition: null,
      busState: 'STOP',
      route: null
    };
  },
  methods: {
    goToBus() {
      this.center = this.busPosition
    }
  },
  watch: {
    myLocation(val) {
      this.center = val
    },
    schedule(val){
      const itemsRef = database.ref("busses/" + val.assignedBus.id)
      this.busPosition=[0,0]
      itemsRef.on("value", snapshot => {
        console.log(snapshot.val())
        let data = snapshot.val();
        const currentPosition = [data.currentPosition.latitude, data.currentPosition.longitude];
        this.busPosition = currentPosition
        if (currentPosition === this.busPosition || this.busPosition===[0,0]) {
          this.busState = 'STOP'
        } else {
          this.busState = 'MOVING'
        }
      });
    },
    async route(val) {
      this.path.features[0].geometry.coordinates = val.path.map(function (coordinate) {
        return [coordinate.longitude, coordinate.latitude]
      })
      console.log(val);
      const queryWhereabouts= await db.collection("routes").doc(val.id).
      collection("whereabouts").get()
      console.log(queryWhereabouts)
      this.whereabouts.features=[]
      queryWhereabouts.forEach(
          doc => {
            const whereabout = {id: doc.id, ...doc.data()}
            this.whereabouts.features.push(
                {
                  type: "Feature",
                  properties: {},
                  geometry: {
                    type: "Point",
                    coordinates: [whereabout.location.longitude, whereabout.location.latitude]
                  }
                }
            )
          }
      )
    },
  },
  async mounted() {
  }
}
</script>
<style>
#map {
  height: 78vh;
  z-index: 0;
}
</style>
