<template>
  <v-container
      fluid
  >
    <l-map
        id="map"
        ref="map"
        :zoom.sync="zoom"
        :bounds.sync="bounds"
        :center.sync="center">
      <l-tile-layer :url="url"></l-tile-layer>
      <l-geo-json :geojson="whereabouts"
                  :options="geoJsonWhereaboutsOptions"
      >
      </l-geo-json>
      <l-geo-json :geojson="path"

                  :options="geoJsonOptions"
      >
      </l-geo-json>
      <v-overlay absolute :value="loading">
        <v-progress-circular
            indeterminate
            size="64"
        ></v-progress-circular>
      </v-overlay>
      <slot>

      </slot>
    </l-map>
  </v-container>
</template>

<script>
import {LGeoJson, LMap, LTileLayer} from 'vue2-leaflet';
import {latLngBounds} from "leaflet";
import "leaflet-draw"
import "leaflet-draw/dist/leaflet.draw.css"
import '@geoman-io/leaflet-geoman-free';
import '@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';

import BusInformationPosition from "./BusInformationPosition";
import SelectBusRoute from "@/components/SelectBusRoute";
import db from "@/config/firestore";
import SelectBusRouteSchedule from "@/components/SelectBusRouteSchedule";

delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

export default {
  name: 'RoutesMap',
  props: {
    route: {
      default: {"id": null, "startTime": "", "path": [], "name": null}
    }
  },
  components: {
    SelectBusRouteSchedule,
    SelectBusRoute,
    BusInformationPosition,
    LGeoJson,
    LMap,
    LTileLayer
  },
  data() {
    return {
      whereabouts: {
        type: "FeatureCollection",
        features: []

      },
      path: {
        type: "FeatureCollection",
        features: [
          {
            "type": "Feature",
            "properties": {},
            geometry: {
              "type": "LineString",
              "coordinates": []
            }
          }]
      },
      publicPath: process.env.BASE_URL,
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 8,
      center: [
        -77.04947412014008,
        -12.017693919756253
      ],
      bounds: latLngBounds([
        [-12.020537696316778, -77.05444451223504],
        [-12.014241471668834, -77.04502459417473]
      ]),
      loading: false,
      map: null
    };
  },
  mounted() {
    this.$nextTick(
        () => {
          this.map = this.$refs.map.mapObject;
          this.map.pm.addControls({
            position: 'topleft',
            drawControls: true,
            drawCircleMarker: false,
            drawMarker: false,
            drawRectangle: false,
            drawCircle: false,
            drawPolyline: this.route.path.length===0,
            drawPolygon: false,
            editControls: true,
            optionsControls: true,
            customControls: true,
            oneBlock: false
          });
          // Copy Geoman Draw Control
          const _actions = [{
            text: "Custom message, with click event", onClick(e) {
              alert('click');
            }
          }];

          this.map.pm.Toolbar.copyDrawControl("Marker", {
            name: "Whereabouts",
            block: "custom",
            title: "Añade paraderos al mapa",
            actions: _actions
          });


          this.map.on('pm:drawstart', e => {
            console.log(e);
          });
          this.map.on('pm:drawend', e => {
            console.log(e);
          });
          this.map.on('pm:create', e => {
            console.log(e);
          });

        }
    )
  },
  methods: {
    goToBus() {
      this.center = this.busPosition
    }
  },
  computed: {
    geoJsonOptions() {
      return {
        onEachFeature: this.onEachFeature
      }
    },
    onEachFeature() {
      return (feature, layer) => {
        this.bounds = layer.getBounds();
        layer.on('pm:edit', e => {
          console.log(e);
        });
        layer.on('pm:update', e => {
          console.log("update", e);
        });
      }
    },
    geoJsonWhereaboutsOptions() {
      return {
        onEachFeature: this.onEachFeaturePoint
      }
    },
    onEachFeaturePoint() {
      return (feature, layer) => {
        layer.on('pm:edit', e => {
          console.log(e);
        });
        layer.on('pm:update', e => {
          console.log("update", e);
        });
      }
    }
  },
  watch: {
    async route(val) {
      this.path.features[0].geometry.coordinates = val.path.map(function (coordinate) {
        return [coordinate.longitude, coordinate.latitude]
      })
      this.loading = true
      const queryWhereabouts = await db.collection("routes").doc(val.id).collection("whereabouts").get()
      this.whereabouts.features = []
      queryWhereabouts.forEach(
          doc => {
            const whereabout = {id: doc.id, ...doc.data()}
            this.whereabouts.features.push(
                {
                  type: "Feature",
                  properties: {},
                  geometry: {
                    type: "Point",
                    coordinates: [whereabout.location.longitude, whereabout.location.latitude]
                  }
                }
            )
          }
      )
      this.loading = false
      this.map.pm.addControls({
        position: 'topleft',
        drawControls: true,
        drawCircleMarker: false,
        drawMarker: false,
        drawRectangle: false,
        drawCircle: false,
        drawPolyline: val.path.length===0,
        drawPolygon: false,
        editControls: true,
        optionsControls: true,
        customControls: true,
        oneBlock: false
      });
    },
  }
}
</script>
<style>
#map {
  height: 78vh;
  z-index: 0;
}
</style>
