<template>
      <v-autocomplete
          :loading="loading"
          :items="routes"
          v-model="route"
          label="Selecciona la ruta"
          item-value="id"
          item-text="name"
          return-object
          dense>
      </v-autocomplete>
</template>
<script>
import db from "@/config/firestore";
import {mapState} from "vuex";
export default {
  name: 'SelectBusRoute',
  props:{
    value: null
  },
  data:()=>({
    loading:false,
    route:null
  }),
  computed:{
    ...mapState("routes",{
      routes:"routes"
    })
  },
  async created() {
    this.loading= true
    await this.$store.dispatch("routes/fetchRoutes")
    this.loading= false
  },
  watch:{
    route(newValue){
      this.$emit("input",newValue)
    }
  }
}
</script>
