<template>
    <v-card>
        <v-card-text>
            <v-row>
                <v-col
                        cols="12"
                        md="6"
                >
                    <span>Configuración</span>
                    <v-switch
                            v-model="darkMode"
                            primary
                            label="Dark"
                    />
                    <SubscribeNotification></SubscribeNotification>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>
<script>
    import SubscribeNotification from "./SubscribeNotification";
    export default {
        name: 'SettingsCard',
        components: {SubscribeNotification},
        computed:{
            darkMode:{
                get(){
                    return this.$vuetify.theme.dark
                },
                set(value){
                    this.$vuetify.theme.dark=value
                    localStorage.setItem("darkMode",JSON.stringify(value))
                }
            }
        }
    }
</script>
