<template>
    <div v-if="mostrar">
        <v-btn :disabled="isLoading" :loading="isLoading" @click.prevent="subscribeNotification">{{ buttonText }}</v-btn>
    </div>
</template>

<script>

    export default {
        name: "SubscribeNotification",
        data() {
                return {
                    isLoading:false,
                    publicPath: process.env.BASE_URL,
                    applicationServerPublicKey:
                        'BFd2xmiGdyJ13tPNtEqnuoj7hKAY5SMXMLwUiUGGMqErk18wpocOQ8mLN1Vlo2IEvuU-rg3saN0ODuArCk0ui_o',
                    registration: null,
                    isSubscribed: localStorage.getItem('isSubscribed'),
                    mostrar:false
                }
            },
            async created() {
                if ('serviceWorker' in navigator) {
                    console.log(true)
                    this.mostrar=true
                }
                // Listen for swUpdated event and display refresh snackbar as required.
                document.addEventListener('checkSubscription',async (e)=> {
                    await this.checkSubscription(e);
                });
                // Refresh all open app tabs when a new service worker is installed.
            },
            computed: {
                buttonText() {
                    if (Notification.permission === 'denied') {
                        this.updateSubscriptionOnServer({subscription:null,is_active:null});
                        return 'Notificaciones Bloqueadas'
                    }

                    if (!this.isSubscribed) {
                        return 'Recibir Notificaciones'
                    }
                    return 'Desactivar Notificaciones'
                },
            },
            methods: {
                async subscribeNotification() {
                    this.isLoading=true;
                    if (Notification.permission === 'denied') {
                        console.log('Notification is Blocked');
                        this.isLoading=false;
                        return
                    }

                    if (this.isSubscribed) {
                        try {
                            let result = await this.unsubscribe();
                            if (result) {
                                console.log('Unsubscribe successful');
                                this.isSubscribed = false;
                                this.isLoading=false
                            }
                        } catch(error)  {
                                console.log(error.message);
                            this.isLoading=false
                        }
                    } else {
                    try {
                        let result = await this.subscribe();

                        if (result) {
                            console.log('Subscribe successful');
                            this.isSubscribed = true
                        }
                        this.isLoading=false
                    }
                    catch(error)  {
                        // use null to trigger update if user block notification
                        this.isSubscribed = null;
                        console.log(error);
                        console.log(error.message);
                        this.isLoading=false
                    }
                }
            },
            async checkSubscription(e) {
                let registration = e.detail;
                let subscription = await e.detail.pushManager.getSubscription();

                this.isSubscribed = !(subscription === null);
                localStorage.setItem('isSubscribed',this.isSubscribed);
                // send subscription info to server (the server will send push notification to this subscription)
                if(this.isSubscribed)
                this.updateSubscriptionOnServer({subscription: subscription, is_active: this.isSubscribed});

                this.registration = registration
            },
            subscribe() {
                let applicationServerKey = this.urlB64ToUint8Array(this.applicationServerPublicKey);
                console.log(this.registration);
                return this.registration.pushManager.subscribe({
                    // https://developers.google.com/web/fundamentals/push-notifications/subscribing-a-user#uservisibleonly_options
                    // symbolic agreement with the browser that the web app will show
                    // a notification every time a push is received (i.e. no silent push).
                    userVisibleOnly: true,
                    applicationServerKey
                }).then((subscription) => {
                    // subscription successful, send subscription info to server
                    this.updateSubscriptionOnServer({ subscription, is_active: true });
                    this.isSubscribed = true;
                    return true;
                })
            },
            // unsubscribe push notification
            unsubscribe() {
                return this.registration.pushManager.getSubscription()
                    .then((subscription) => {
                        console.log(subscription);
                        if (subscription) {
                            // unsubscribe successful, update server
                            this.updateSubscriptionOnServer({ subscription, isActive: false });
                            this.isSubscribed = false;
                            return subscription.unsubscribe()
                        }
                        return false
                    })
            },
            async updateSubscriptionOnServer({subscription, is_active}) {
                // if you are using https://web-push-codelab.glitch.me/ as a Test Push Notification Server
                // you need to copy and paste this string
                try {
                    let response = await this.sendSubscriptionToBackEnd({
                        subscriptionInfo: (subscription),
                        isActive: is_active
                    });
                    return response;
                    console.log(response)
                } catch (e) {
                    console.log(e);
                    return null;
                }

            },

            // convert applicationServerPublicKey
            urlB64ToUint8Array(base64String) {
                console.log(base64String);
                const padding = '='.repeat((4 - base64String.length % 4) % 4);
                const base64 = (base64String + padding)
                    .replace(/\-/g, '+')
                    .replace(/_/g, '/');

                const rawData = window.atob(base64);
                const outputArray = new Uint8Array(rawData.length);

                for (let i = 0; i < rawData.length; ++i) {
                    outputArray[i] = rawData.charCodeAt(i)
                }
                return outputArray
            },
            sendSubscriptionToBackEnd: async function (subscription) {
                let response = await fetch('/api/save-subscription/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(subscription)
                });

                if (!response.ok)
                    throw new Error('Bad status code from server.');

                let responseData = await response.json();
                if (!(responseData.data && responseData.data.success)) {
                    throw new Error('Bad response from server.');
                } else {
                    this.isSubscribed = true;
                    return true;
                }
            }

        }
    }
</script>

