<template>
  <div>
    <select-bus-route v-model="route"></select-bus-route>
    <v-btn @click="addRoute">
      Subir Ruta
    </v-btn>
  </div>
</template>

<script>
import db from "@/config/firestore";
import SelectBusRoute from "@/components/SelectBusRoute";
import firebase from "firebase/app"
export default {
name: "UpdateRoute",
  components: {SelectBusRoute},
  data:()=>({
    route : null
  }),
  methods:{
    addRoute: async function () {
      let data = await fetch(`/api/rutas/1.geojson`)
      const geojson = await data.json()
      const querySnapshot = await db.collection("routes").doc(this.route.id).update({
        "path": geojson.features[0].geometry.coordinates.map(function (coordinate) {
          return new  firebase.firestore.GeoPoint(coordinate[1], coordinate[0])
        })
      });
      console.log("Document successfully updated!");
    }
  }
}
</script>

<style scoped>

</style>