<template>
  <v-form
    ref="form"
  >
    <v-alert
        v-model="alert"
        type="error"
        dismissible
    >
      {{ errorMessage }}
    </v-alert>
    <v-text-field
        id="username"
        :rules="[rules.required]"
        label="Correo Electronico"
        v-model="username"></v-text-field>
    <v-text-field
        id="password"
        :rules="[rules.required]"
        label="Contraseña"
        v-model="password"
        type="password"
    ></v-text-field>
    <v-btn block color="primary" @click="login">Iniciar Sesión</v-btn>
  </v-form>
</template>

<script>

import {mapActions, mapMutations} from "vuex";

export default {
  name: "UserLogin",
  data: () => ({
    username: null,
    password: null,
    errorMessage: null,
    alert: null,
    errorCode: null,
    user: null,
    rules:{
      required: v => !!v || 'Este campo es requerido',
    }
  }),
  methods: {
    ...mapActions('auth', {signInWithEmailAndPassword:'signInWithEmailAndPassword'}),
    async login() {
     if(!this.$refs.form.validate()){
       return
     }
      try {
        await this.signInWithEmailAndPassword({
          username:this.username,password:this.password
        })
      }catch (error) {
       this.alert= true
        // Handle Errors here.
        this.errorCode = error.code;
        this.errorMessage = error.message;
      }
    },
  }
}
</script>

<style scoped>

</style>
