<template>
  <div>
    <l-map style="height: 350px" :zoom="zoom" :center="center">
      <l-tile-layer :url="url"></l-tile-layer>
      <l-polyline :lat-lngs="polylineInformation.latlngs"></l-polyline>
      <l-geo-json :geojson="geoJsonInformation"
                  :options="options"
                  :options-style="styleFunction"
      ></l-geo-json>
    </l-map>
    Bus {{ $route.params.id }}
  </div>
</template>

<script>
import db from "@/config/firestore";
import {LMap, LTileLayer, LGeoJson, LPolyline} from 'vue2-leaflet';

export default {
  name: "Index",
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LPolyline
  },
  async mounted() {

    await this.getBusHistory()
  },
  computed: {
    polylineInformation() {
      return {
        latlngs: this.historyInformation.map(h => {

          return [
            h.location.r_, h.location.o_
          ]
        })
      }
    },
    geoJsonInformation() {
      return {
        type: "FeatureCollection",
        features: [{
          type: "Feature",
          geometry: {
            type: "LineString",
            coordinates: this.historyInformation.map(h => [h.location.o_, h.location.r_]),

          },
          properties:{}
        },
          ...this.historyInformation.map(h => ({
                    type: "Feature",
                    geometry: {
                      type: "Point",
                      coordinates: [h.location.o_, h.location.r_]
                    },
                    properties: {
                      createdAt: h.updatedAt || Date.now()
                    }
                  }
              )
          )
        ]
      }
    },
    options() {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    }
    ,
    styleFunction() {
      const fillColor = this.fillColor; // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 2,
          color: "#ECEFF1",
          opacity: 1,
          fillColor: fillColor,
          fillOpacity: 1
        };
      };
    }
    ,
    onEachFeatureFunction() {
      return (feature, layer) => {
        layer.bindTooltip(
            "<div>code:" +
            feature.properties.createdAt +
            "</div>",
            {permanent: false, sticky: true}
        );
      };
    }
  },
  data: () => ({
    historyInformation: [],
    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    zoom: 8,
    center: [47.313220, -1.319482],
    geojson: null
  }),

  methods: {
    async getBusHistory() {
      const querySnapshot = await db.collection(
          `routes/${this.$route.params.id}/historyInformation`
      ).get()
      querySnapshot.forEach(
          a => {
            this.historyInformation.push({
              id: a.id,
              ...a.data()
            })
          }
      )
    }
  },
}
</script>

<style scoped>

</style>
