<template>
  <div>
    <v-row>
      <v-col
          v-for="route in routes"
          :key="route.to"
      >
        <v-card
            dark
            :color="route.color"
            class="mx-auto"
            :to="route.to"
        >
          <v-card-actions>
            <v-icon>
              {{ route.icon }}
            </v-icon>
            <v-subheader>
              {{ route.name }}
            </v-subheader>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Index",
  data: () => ({
    routes: [
      {
        to: "/admin/schedules",
        name: "Horarios",
        color: 'primary',
        icon: 'fas fa-calendar'
      },
      {
        to: "/admin/routes",
        name: "Rutas",
        color: 'secondary',
        icon: 'fas fa-route'
      },
      {
        to: "/admin/drivers",
        name: "Conductores",
        color: 'gray',
        icon: 'fas fa-user-tie'
      },
      {
        to: "/admin/busses",
        name: "Buses",
        color: 'purple',
        icon: 'fas fa-bus'
      },

    ]
  })
}
</script>

<style scoped>

</style>
