<template>
  <v-card>
    <v-card-title>
      Inicio de Sesión
    </v-card-title>
    <v-card-text>
      <user-login></user-login>
    </v-card-text>
  </v-card>
</template>

<script>
import UserLogin from "@/components/UserLogin";
export default {
  components: {UserLogin}
}
</script>

<style scoped>

</style>
