<template>

    <v-row>
      <v-col>
        <v-card-title>
          Administración de Rutas
        </v-card-title>
        <select-bus-route v-model="route"></select-bus-route>
        <v-btn @click="editRoute">
          Nueva Ruta
        </v-btn>
        <v-dialog v-model="openNewRoute">
          <v-card>
            <v-card-title>
              Nueva ruta
            </v-card-title>
            <v-card-text>
              <v-form>
                <v-text-field v-model="newRoute.name"></v-text-field>
                <v-text-field v-model="newRoute.startTime" type="time"></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-btn @click="createRoute">Guardar Cambios</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
      <RoutesMap :route.sync="route">
        <l-control>
          <v-btn @click="updateRoute">
            Guardar Cambios
          </v-btn>
        </l-control>
      </RoutesMap>

    </v-row>
</template>

<script>
import db from "@/config/firestore";
import SelectBusRoute from "@/components/SelectBusRoute";
import firebase from "firebase/app"
import RoutesMap from "@/components/RoutesMap";
import {LControl} from 'vue2-leaflet';

export default {
  components: {RoutesMap, SelectBusRoute, LControl},
  data: () => ({
    route: null,
    openNewRoute: false,
    loading: false,
    defaultRoute: {
      "name": null,
      "startTime": null, "path": []
    },
    newRoute: {
      "name": null,
      "startTime": null, "path": []
    }
  }),
  methods: {
    editRoute() {
      this.openNewRoute=true
      this.newRoute = {...this.defaultRoute}
    },
    async createRoute() {
      this.loading = true
      await this.$store.dispatch("routes/addRoute", this.newRoute)
      await this.$store.dispatch("routes/fetchRoutes")
      this.loading = false
    },
    updateRoute: async function () {
      await this.$store.dispatch("routes/updateRoute", {id:this.route.id,
      data: {
        "path": this.route.path
      }
      })
    }
  }
}
</script>

<style scoped>

</style>
