<template>
  <v-row>
    <v-col>
      <v-card-title>
        Administración de Horarios
      </v-card-title>
      <select-bus-route v-model="route"></select-bus-route>
      <SelectBusRouteSchedule :route="route" v-model="schedule"></SelectBusRouteSchedule>
      <div v-if="schedule">
          <v-card>
            <v-card-subtitle>
              Asignar Atributos
            </v-card-subtitle>
            <v-card-text>
              <v-autocomplete
                  label=" Asignar Bus por placa"
                  :items="busses"
                  item-value="id"
                  item-text="plate"
                  v-model="bus"
                  return-object
              >
                <template #item="{item}">
                  <div>
                    {{item.plate}}
                  </div>
                </template>
              </v-autocomplete>

              <v-autocomplete
                  label="Secciona el conductor"
                  :items="drivers"
                  item-value="id"
                  v-model="driver"
                  return-object
              >
                <template #selection="{item}">
                  <div>
                    {{item.firstName}}+{{item.lastName}}
                  </div>
                </template>
                <template #item="{item}">
                  <div>
                    {{item.firstName}}+{{item.lastName}}
                  </div>
                </template>
              </v-autocomplete>
              <v-btn @click="saveChanges">Guardar Cambios</v-btn>

              <v-overlay absolute :value="loadingSavingChanges">
                <v-progress-circular
                    indeterminate
                    size="64"
                ></v-progress-circular>
              </v-overlay>
            </v-card-text>
          </v-card>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import SelectBusRoute from "@/components/SelectBusRoute";
import SelectBusRouteSchedule from "@/components/SelectBusRouteSchedule";
import db from "@/config/firestore";
export default {
name: "Schedules",
  components: {SelectBusRouteSchedule, SelectBusRoute},
  data:()=>({
    route:null,
    schedule:null,
    busses: [],
    drivers: [],
    driver: {
      id:null
    },
    bus: {
      id:null
    },
    loadingSavingChanges:null
  }),
  async created() {
    await this.getBusses()
    await this.getDrivers()
  },
  methods:{
    async getBusses() {
      const querySnapshot = await db.collection("busses").get()
      querySnapshot.forEach(
          a=> {
            this.busses.push({
              id: a.id,
              ...a.data()
            })
          }
      )
    },
    async getDrivers() {
      const querySnapshot = await db.collection("drivers").get()
      querySnapshot.forEach(
          a => {
            this.drivers.push({
              id: a.id,
              ...a.data()
            })
          }
      )
    },
    async saveChanges() {
      this.loadingSavingChanges= true
      const refBus = db.doc(`routes/${this.bus.id}`)
      const refDriver = db.doc(`drivers/${this.driver.id}`)
      const querySnapshot = await db.collection(`routes/${this.route.id}/schedules`)
          .doc(this.schedule.id).update({
        "assignedBus": refBus,
        "assignedDriver": refDriver
      })
      this.loadingSavingChanges= false
      console.log("Document successfully updated!");
    }
  },
  watch:{
    schedule(val){
      if(val.assignedBus){
        this.bus=val.assignedBus
        this.driver=val.assignedDriver
        this.loadingSavingChanges=false
      }
  }
  }
}
</script>

<style scoped>

</style>
